#RfRemote {
    margin: 15px;
    text-align: center;
    font-size: 30px;
    border: 5px solid black;
    padding: 10px;
}

.buttonBlock * {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.switchBlock {
}

.seperator {
    margin: 5px;
}